*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    min-height: 100vh;
    max-width: 100%;

}
body{
    background-image: url("images/figmabg.png");
    font-family: 'Oswald', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    color: $color-body-font;

}
